// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
:focus { 
	outline:0;
}
::selection {
	background: $black; /* Safari */
	color: $white;
}
::-moz-selection {
	background: $black; /* Firefox */
	color: $white;
}

.svg-defs {
	display: none;
}

html, body {
	height: 100%;
}

body {
	background: $midred;
	color: $darkgrey;
}

p {
	padding: 0 0 20px 0;
}

a {
	text-decoration: none;
	color: $midred;
}

h2 {
	color: $midred;
	padding: 20px 0 15px 0;
}

blockquote {
	color: $midred;
	width: 70%;
	margin: 15px 12% 30px 12%;
	padding: 14px 3%;
	position: relative;

	p {
		margin: 0;
		padding: 0;
	}

	&::before {
		content: '';
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		border-left: solid 1px $midred;
		border-top: solid 1px $midred;
	}

	&::after {
		content: '';
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		border-right: solid 1px $midred;
		border-bottom: solid 1px $midred;
	}

}

// *****************************************************************
// HEADER
// *****************************************************************
section.header {
	width: 100%;
	background: $midred;
	color: $lightred;
	height: 80px;
	text-align: center;

	header {
		margin: 0 auto;
		text-align: left;
		width: 750px;
	}

	h1 {
		float: left;
		@include text-replacement();
	}

	img {
		height: 40px;
		margin: 20px 0;
	}

	.beta {
		float: right;
	}
}

// *****************************************************************
// FOOTER
// *****************************************************************
footer {
	width: 100%;
	display: block;
	color: $lightred;
	padding: 30px 0;
	text-align: center;
}

// *****************************************************************
// ARTICLE LIST
// *****************************************************************
.wrap {
	background: $lightgrey;
	width: 100%;
	text-align: center;
	padding: 40px 0 10px 0;
	overflow: auto;
}

.post {
	text-align: left;
	display: block;
	width: 750px;
	background: $white;
	margin: 0 auto;
	margin-bottom: 35px;
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease-out;

	h1 {
		// border-left: solid 2px $midred;
		padding-left: 14px;
		margin-bottom: 20px;
		color: #888;
		position: relative;

		&::before {
			content: '';
			width: 30px;
			height: 30px;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-left: solid 1px $midred;
			border-bottom: solid 1px $midred;
		}
	}

	a {
		text-decoration: none;
		// display: block;
		color: $darkgrey;
	}

	.meta {
		color: $midgrey;		
	}
}

.genericon {
	display: inline-block;	
	vertical-align: middle;

	&::before {
		vertical-align: middle;
	}
}
.meta-info {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.post-inner {
	display: block;
	padding: 30px;
	position: relative;

	.read-more {
		text-align: center;
		display: block;
		position: absolute;
		bottom: -100px;
		transition: all 0.2s ease-out;

		.genericon {
			color: $white;
		}
	}
}

.post-content {
	padding-top: 20px;
	transition: all 0.2s ease-out;
}

// HOVERS
.post-list:hover {
	transform: scale(1.03);
	background: $midred;

	h1 {
		color: $white;
		&::before {
			border-left: solid 1px $white;
			border-bottom: solid 1px $white;
		}
	}
	
	a {
		color: $white;
	}

	.meta {
		color: $white;
		opacity: 0.7;
	}

	.post-content {
		opacity: 0.1;
	}

	.read-more {
		bottom: 40px;
	}
}


// *****************************************************************
// SINGLE
// *****************************************************************
.single a {
	color: $midred;
	text-decoration: none;
}
.breadcrumbs {
	width: 750px;
	margin: 0 auto;
	text-align: left;
	color: $midgrey;

	span {
		padding: 0 5px;
	}
}


@media screen and (max-width: 750px) {
	
	section.header header, .post, .breadcrumbs {
		width: 90%;
	}

	header img {
		max-width: 80%;
	}

	.beta {
		display: none;
	}

	.post h1 {
		font-size: 2em;
		line-height: 1em;
		padding: 0 0 7px 7px;
	}



}
