// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
:focus { 
	outline:0;
}
::selection {
	background: #000; /* Safari */
	color: $white;
}
::-moz-selection {
	background: #000; /* Firefox */
	color: $white;
}

.svg-defs {
	display: none;
}

html, body {
	height: 100%;
}

body {

}


// *****************************************************************
// FOOTER
// *****************************************************************
footer {
	width: 100%;
}
