// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
:focus { 
	outline:0;
}
::selection {
	background: $black; /* Safari */
	color: $white;
}
::-moz-selection {
	background: $black; /* Firefox */
	color: $white;
}

.svg-defs {
	display: none;
}

html, body {
	height: 100%;
}

body {
	background: $lightgrey;
	color: $darkgrey;
}


// *****************************************************************
// HEADER
// *****************************************************************
header {
	width: 100%;
	background: $midred;
}

// *****************************************************************
// FOOTER
// *****************************************************************
footer {
	width: 100%;
	height: 100px;
	display: block;
	background: $midred;
	color: $white;
}
