// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
html, html a {
	// text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	font-family: "Lato", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.7em;
}

h2 {
	font-weight: 100;
	font-size: 1.5em;
	// letter-spacing: 0.02em;
	text-transform: uppercase;
}

blockquote {
	font-weight: 100em;
	font-size: 1.4em;
	font-style: italic;
}

header {
	.beta {
		font-weight: 100;
		font-style: italic;
		font-size: 1.2em;
		letter-spacing: 0.06em;
		line-height: 80px;
	}

}

.post {
	h1 {
		font-size: 2.1em;
		font-weight: 100;
		letter-spacing: -0.05em;
		line-height: 1.7em;
	}

	.meta {
		display: block; 
		font-size: 1em;
		line-height: 1.4em;

		.genericon {
			line-height: 1.4em;
			font-size: 1.4em;
		}

	}

	.read-more {
		font-size: 1.2em;
		letter-spacing: 0.2em;
		.genericon {
			font-size: 1.4em;
		}
	}
}

.single a {
	font-weight: 300;
	transition: all .2s ease-out;

	&:hover {
		color: $white;
		background: $midred;
	}
}

.breadcrumbs {
	font-size: 0.8em;
}
