// *****************************************************************
// COLOURS
// *****************************************************************
$lightgrey: #EAEDF1;
$darkgrey: #777;
$midgrey: #CCC;
$black: #000;
$white: #FFF;

$lightred: #EF7A79;
$midred: #E74C42;
$darkred: #A82A2A;


